
<div class="container my-5 student-form">
    <div class="row">
        <div class="col-md-6 m-auto">
            <a class="btn btn-dark mb-3 add_btn" href="/student">Back</a>
            <div class="card shadow">
                <div class="card-header">
                    <h2>Edit <%= data.name %>   Form</h2>
                </div>
                <div class="card-body">
                    <form action="/student/update/<%= data.id %> " method="post" enctype="multipart/form-data">
                        <div class="my-3">
                            <label for="">Name</label>
                            <input name="name" class="form-control" type="text" value="<%= data.name %> ">
                        </div>
                        <div class="my-3">
                            <label for="">Email</label>
                            <input name="email"  value="<%= data.email %> " class="form-control" type="text">
                        </div>
                        <div class="my-3">
                            <label for="">Cell</label>
                            <input name="cell"  value="<%= data.cell %> " class="form-control" type="text">
                        </div>
                        <div class="my-3">
                            <label for="">Location</label>
                            <select name="location" class="form-control" id="">
                                <option value="">-select-</option>
                                <option <% if (data.location == 'dhaka') { %> selected <% } %>  value="dhaka">Dhaka</option>
                                <option <% if (data.location == 'cumilla') { %> selected <% } %>  value="cumilla">Cumilla</option>
                                <option <% if (data.location == 'sylhet') { %> selected <% } %>  value="sylhet">Sylhet</option>
                                <option <% if (data.location == 'dinajpur') { %> selected <% } %>  value="dinajpur">Dinajpur</option>
                            </select>
                        </div>
                        <div class="my-3">
                            <label for="">Photo</label>
                            <br>
                          <% if (data.photo == 'avatar.png') { %>
                            <img class="preload-student mb-3" src="/images/<%= data.photo %> "  alt="">
                            <% } else { %>
                             
                                 <img class="preload-student mb-3" src="/images/students/<%= data.photo %> "  alt="">
                          <% } %>
                      
                            <br>
                            <label for="student_upload">
                                <img class="w-100 upload_image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQDOAAv2CM5KNl9BhbUmaFXxecnqRIsrWAWg&usqp=CAU" alt=""></label>
                            <input name="student_photo" type="file" id="student_upload" multiple>
                        </div>
                        <div class="my-3">
                            <input class="btn btn-outline-dark form-control" type="submit" value="Update">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>